
<ion-view>
<div id="itemList">
<div class="bar bar-subheader">
	<div class="subheader-holder">
	<!-- ng-switch for notification is included in this template  -->
	<div ng-include="'templates/notification.html'"></div>
					<p class="total">
				<span class="saveText">Saved</span>
				<span class="saveAmt">${{amountSaved}}</span>
				<span class="totalAmt">${{total}}</span>
				<span class="totalText">Total</span>
			</p>
		</div>
	</div>
<ion-content>
	<div class="emptyListPlaceholder" ng-show="items.length==0">
		<p><i class="can ion-soup-can"></i><i class="ion-ios-cart"></i>Please scan the products into the cart</p>
	</div>
	<ion-list class="list inset-list has -subheader" can-swipe="true" option-buttons="itemButtons" >
	
	<ion-item ng-repeat="item in items">
	<p>
		<span class="itemname">{{item.name}}</span>
		<i class="icon ion-ios-plus" ng-show="toggleEditQty[$index]||false" ng-click="increaseQty($index)"></i>
		<span class="price">${{item.price * item.qty}}</span>
		<i class="icon ion-ios-minus" ng-show="toggleEditQty[$index]||false" ng-click="decreaseQty($index)"></i>
		<span ng-class="quantityChanged[$index]" class="quantity">x {{item.qty}}</span></p>
		<ion-option-button class="button editQty" ng-click="decreaseQty($index)"><i class="icon ion-minus-circled"></i></ion-option-button>
		<i class="swipeIcon ion-ios-arrow-left"></i><i class="swipeIcon2 ion-ios-arrow-left"></i>
		<p class="promo" ng-show="item.promotions.length>0">
			<span class="promoText">{{item.promotionText}}</span>
			<span class="promoValue" ng-show="item.promotionAmountToBeReduced>0">- ${{item.promotionAmountToBeReduced}}</span></p>
			</ion-item>
			</ion-list>
			</ion-content> 
  		 <a href="#/payment" ng-click="passScope()" class="button checkout-button"><i class="icon ion-ios-cart"></i></a>
  </div>
 </ion-view>