<p class="notification" ng-switch on="notificationCase">
			<span class="notificationText" ng-switch-when="1">
				<span class="text">{{notificationText}}</span>
				<i class="icon" ng-class="notificationIcon"></i>
			</span>
			<span class="notificationText" ng-switch-when="2">
				<span class="text">{{notificationText}}</span>
				<i class="icon" ng-class="notificationIcon"></i>
			</span>
			<span class="notificationText" ng-switch-when="3">
				<span class="text">{{notificationText}}</span>
				<i class="icon" ng-class="notificationIcon"></i>
			</span>
			<span class="notificationText" ng-switch-when="4">
				<span class="text">{{notificationText}}</span>
				<i class="icon" ng-class="notificationIcon"></i>
			</span>
</p>
