<ion-view>
<div id="paymentPage">
	<div class="bar bar-subheader">
		<div class="subheader-holder">
		<!-- ng-switch for notification is included in this template  -->
		<p><span class="total">$124.00</span>
			<span class = "totalText">Amount to be paid</span>
		</p>
		</div>
	</div>
	<ion-content>
	<div class="list card">
	 	<div class="item">
			<label class="checkbox">
         		<input type="checkbox">
        	</label>
        	<img class="creditCardLogo" src="img/visa-logo.png"/>
        	<p class="creditCardDetails">
        		<span class="cardNumber">**** **** **** 1157</span>
        		<span class="expiry">11/26</span>
        	</p>
	  	</div>
	</div>
	<div class="list card">
	 	<div class="item">
			<label class="checkbox">
         		<input type="checkbox">
        	</label>
        	<img class="creditCardLogo" src="img/master-card-logo.png"/>
        	<p class="creditCardDetails">
        		<span class="cardNumber">**** **** **** 2243</span>
        		<span class="expiry">11/19</span>
        	</p>
	  	</div>
	</div>

	</ion-content> 
	<button class="button button-block">
  <i class="icon ion-ios-checkmark"></i>Pay
</button>
</div>
</ion-view>  		 